@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;600;700;800&display=swap');

$primary : #abcc00;
$dark : #1a1a1a;
$light : #fafafa;
$font : 'Sarabun', sans-serif;

@import "~bootstrap/scss/bootstrap";

body{
    font-family: $font;
}

.lemon-container-login{
    background-image: url(../images/Lemon.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    margin: -150px;
}

.lemon-container-home{
    background-image: url(../images/Lemon.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px;
    margin: -250px;
}

.login-container{
    margin-top: 200px;
    max-width :750px;
}

.lemon-img{
    max-width :650px;
}

.form-container{
    max-width : 650px; 
}

.register-form{
    max-width : 600px;
}

.inputs-form{
    max-width : 550px;
}

@media screen and (max-width: 1200px){
    .lemon-img{
        display : none;
    }
    .register-form{
        width : 90%;
    }
    
}